.sidebar {
    width: 250px;
    background-color: #4a5a5f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding-top: 4rem;
    flex-grow: 1;
}

.sidebar ul li {
    padding: 10px;
    border-bottom: 1px solid #070707;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li:hover {
    background-color: #f5cbcb;
    color: black;
    cursor: pointer;
}

.sidebar ul li p {
    margin: 0;
}
